:root {
    --CorPrincipal: #222529;
    --CorSecundaria: #2C3035;
    --Branco: #ffffff;
    --Preto: #101113;
    --Cinza: #787b7f;
    --dourado: #dda765;

}

@font-face {
    font-family: "Prodelt Co";
    src: url("../fonts/Prodelt\ Co.ttf") format("truetype");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}

main {
    background-color: var(--CorPrincipal);
    width: 93%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.5%;
}

.navbar {
    background-color: #101113;
}

.navbar a {
    color: var(--Branco);
}

.navbar a:hover {
    color: var(--Cinza);
}

.containerbaner {
    
    background-image: url(../images/bg.png);
    height: 200px;
    width: 100%;
}

.containerButtons {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.button button {
    width: 15rem;
    height: 10rem;
    font-family: Prodelt Co;
    background-color: var(--dourado);
    border: none;
    border-radius: 5px;
    margin-left: 6px;
    color: var(--Branco);
    font-weight: 700;
    font-size: 14pt;
}


